*{

     margin :0;
     padding:0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
     
}


body{
    min-height:100vh;
    
    
    
}
.margin-text{
    position:relative;
    margin-left:100px;
    margin-top:0;
}


.icon-bar{
    position:absolute;
    width:80px;
    background-color:#555;
    align-items:center;
    
    
    

}
.active{
    background-color:darkblue;
}
.icon-bar a{
    display:block;
    font-size:26px;
    color:white;
    text-align:center;
    padding:20px;
    transition :all 0.3s ease-out;
    
}
@media (min-width:768px){
.icon-bar a:hover{
    background-color:darkblue;
    
}

}
@media (max-width:768px){
.icon-bar{
width:100%;
position :relative;
overflow:auto;
}
.icon-bar a{
float:left;
text-align:center;
width:14.28%;
padding:12px 0;

}
.margin-text{
    margin-left:73px;
}
}